# This file contains (ostensibly) all supported PLEXIL debug flags, as
# returned by the following command run from $PLEXIL_HOME:
#
# git grep 'debugMsg\|condDebugMsg\|debugStmt\|condDebugStmt' -- '*.cc' | \
#   sed 's/.*debug[A-Za-z]*("\([^"]*\)".*/\1/' | sort -u > flags.txt
#
# followed by hand-editing lines in flags.txt containing 'condDebug',
# which are generally multi-line instances, making a few other
# cleanups, and piping the result through 'sort' and 'uniq'.  The
# PLEXIL team will strive to keep this file up to date!

# Every flag has been commented out with the '#' character.  You can
# use this file by referencing it and/or copying it to your working
# directory and uncommenting the desired debug flags.  By default,
# PLEXIL looks for a file named Debug.cfg in the current working
# directory.

#AdapterConfiguration:clearThresholds
#AdapterConfiguration:constructInterfaces
#AdapterConfiguration:getCommandHandler
#AdapterConfiguration:getLookupHandler
#AdapterConfiguration:initialize
#AdapterConfiguration:lookupNow
#AdapterConfiguration:registerCommandHandler
#AdapterConfiguration:registerLookupHandler
#AdapterConfiguration:setDefaultCommandHandler
#AdapterConfiguration:setThresholds
#AdapterConfiguration:start
#AdapterConfiguration:stop
#AdapterConfiguration:updatePlanner
#AdapterConfiguration:verboseConstructInterfaces
#AdapterFactory:createInstance
#AdapterFactory:registerFactory
#AllFinished
#AllWaitingOrFinished
#AssignmentNode:~AssignmentNode
#CachedValue:mismatch
#CachedValue:update
#checkExpression
#checkNode
#checkPlan
#CheckpointAdapter
#CheckpointAdapter:fetch
#CheckpointSystem
#CommandHandler:defaultAbortCommand
#CommandHandler:defaultExecuteCommand
#CommandNode:~CommandNode
#CommandNode:cleanUpNodeBody
#CommandResponseManager:getResponses
#constructLibraryCall
#constructPlan
#constructPlexilPairMsg
#constructPlexilValueMsg
#createExpression
#DispatchTimebase
#DispatchTimebase::start
#DispatchTimebase:setTimer
#DispatchTimebase:start
#DispatchTimebase:stop
#DynamicLoader:findSymbol
#DynamicLoader:initModule
#DynamicLoader:loadLibrary
#DynamicLoader:loadModule
#DynamicLoader:tryLoadFile
#ExecApplication:addLibrary
#ExecApplication:addPlan
#ExecApplication:initialize
#ExecApplication:loadLibrary
#ExecApplication:markProcessed
#ExecApplication:notify
#ExecApplication:notifyAndWait
#ExecApplication:run
#ExecApplication:runExec
#ExecApplication:startInterfaces
#ExecApplication:step
#ExecApplication:stop
#ExecApplication:wait
#ExecApplication:waitForPlanFinished
#ExecApplication:waitForShutdown
#ExecApplication:worker
#ExecListenerFactory:createInstance
#ExecListenerFactory:registerFactory
#ExecListenerFilterFactory:createInstance
#ExecListenerFilterFactory:registerFactory
#ExecListenerHub:addListener
#ExecListenerHub:constructListener
#ExecListenerHub:initialize
#ExecListenerHub:start
#finalizeAliases
#finalizeLibraryCall
#finalizeNode
#findArrayDeclaration
#findContainingNodeElement
#findVariableDeclaration
#getPlexilMsgValue
#getTime
#Goals:determineGoalLevel
#initializeMainSignalHandling
#initializeWorkerSignalHandling
#InterfaceFactory:createInstance
#InterfaceManager:handleAddLibrary
#InterfaceManager:handleAddPlan
#InterfaceManager:handleCommandAbortAck
#InterfaceManager:handleCommandAck
#InterfaceManager:handleCommandReturn
#InterfaceManager:handleUpdateAck
#InterfaceManager:handleValueChange
#InterfaceManager:markQueue
#InterfaceManager:notify
#InterfaceManager:processQueue
#IpcAdapter:executeCommand
#IpcAdapter:getParameter
#IpcAdapter:handleCommandSequence
#IpcAdapter:handleLookupNow
#IpcAdapter:handleLookupNowMessages
#IpcAdapter:handleReturnValuesSequence
#IpcAdapter:handleTelemetryValuesSequence
#IpcAdapter:initialize
#IpcAdapter:IpcAdapter
#IpcAdapter:lookupNow
#IpcAdapter:parseExternalLookups
#IpcAdapter:receiveCommand
#IpcAdapter:receiveMessageCommand
#IpcAdapter:receiveMessages
#IpcAdapter:sendPlannerUpdate
#IpcAdapter:start
#IpcAdapter:stop
#IpcCommRelay:initialize
#IpcCommRelay:lookupNow
#IpcCommRelay:sendResponse
#IpcFacade
#IpcFacade:cacheMessageLeader
#IpcFacade:cacheMessageTrailer
#IpcFacade:definePlexilIPCMessageTypes
#IpcFacade:deliverMessage
#IpcFacade:generateUID
#IpcFacade:handleMessage
#IpcFacade:initialize
#IpcFacade:myIpcDispatch
#IpcFacade:publishCommand
#IpcFacade:publishTelemetry
#IpcFacade:publishUpdate
#IpcFacade:sendParameters
#IpcFacade:start
#IpcFacade:stop
#IpcFacade:subscribe
#IpcFacade:subscribeAll
#IpcFacade:subscribeDataCentral
#IpcFacade:unsubscribe
#IpcFacade:unsubscribeAll
#IpcRobotAdapter:initialize
#IpcRobotAdapter:lookupNow
#IpcRobotAdapter:processCommand
#IpcRobotAdapter:stop
#isMutexInScope
#ItimerTimebase
#ItimerTimebase:setTimer
#ItimerTimebase:start
#ItimerTimebase:stop
#JNIHelper
#JNIHelper:getClassClass
#JNIHelper:getClassName
#JNIHelper:isArrayClass
#JNIUtils:getArgcArgv
#LauncherAdapter:exitPlan
#LauncherAdapter:initialize
#LauncherAdapter:startPlan
#LauncherListener:notify
#LibraryCallNode:cleanUpNodeBody
#LineInStream:getLine
#LineInStream:open
#linkAndInitializeInterface
#linkInVar
#ListNode:~ListNode
#ListNode:cleanUpChildConditions
#ListNode:cleanUpConditions
#ListNode:cleanUpNodeBody
#loadXmlFile
#Lookup:handleActivate
#Lookup:handleChange
#Lookup:register
#Lookup:unregister
#LookupHandler:defaultClearThresholds
#LookupHandler:defaultLookupNow
#LookupHandler:defaultSetThresholds
#LookupImpl:handleChangeInternal
#LookupOnChange:getThresholds
#LookupOnChange:handleActivate
#LookupOnChange:handleChange
#LookupOnChange:handleDeactivate
#LookupOnChange:update
#LookupOnChange:valueChanged
#LuvListener
#LuvListener:implementNotifyAddPlan
#LuvListener:implementNotifyNodeTransition
#LuvListener:sendMessage
#LuvListener:start
#LuvListener:waitForAck
#MachSemaphore
#MachSemaphore:post
#MachSemaphore:wait
#main1
#main1a
#main2
#main2a
#makeTimebase
#MessageQueueMap:addMessage
#MessageQueueMap:addRecipient
#MessageQueueMap:ensureQueue
#MessageQueueMap:setAllowDuplicateMessages
#MessageQueueMap:updateQueue
#Mutex:ensureGlobalMutex
#Node:abort
#Node:cleanUpConditions
#Node:cleanUpConds
#Node:cleanUpVars
#Node:clock
#Node:execute
#Node:failure
#Node:findLocalVariable
#Node:findMutex
#Node:findVariable
#Node:getDestState
#Node:notifyChanged
#Node:notifyResourceAvailable
#Node:outcome
#Node:reset
#Node:transition
#NodeFactory
#NodeImpl:~NodeImpl
#NodeImpl:NodeImpl
#Notifier:addListener
#Notifier:removeListener
#parseNode
#parsePlan
#parseValue<Boolean>
#PlanDebug:candidates
#PlanDebug:check
#PlanDebug:conflicts
#PlanDebug:failure
#PlanDebug:macroStep
#PlanDebug:microStep
#PlanDebug:outcome
#PlanDebug:transition
#PlexilExec:addPlan
#PlexilExec:allPlansFinished
#PlexilExec:deleteFinishedPlans
#PlexilExec:performAssignments
#PlexilExec:printPlan
#PlexilExec:resolveResourceConflicts
#PlexilExec:step
#PlexilSimResponseFactory:parseCommandReturn
#PlexilSimResponseFactory:parseTelemetryReturn
#PlexilSimulator
#popSymbolTable
#PosixTimebase
#PosixTimebase:setTimer
#PosixTimebase:start
#PosixTimebase:stop
#pushSymbolTable
#receiveMessages
#Reservable:acquire
#Reservable:cancelReservation
#Reservable:release
#Reservable:reserve
#ResourceArbiter:arbitrateCommands
#ResourceArbiter:determineAllChildResources
#ResourceArbiter:determineChildResources
#ResourceArbiter:optimalResourceArbitration
#ResourceArbiter:partitionCommands
#ResourceArbiter:printAcceptedCommands
#ResourceArbiter:printAllocatedResources
#ResourceArbiter:printSortedCommands
#ResourceArbiter:readResourceHierarchy
#ResourceArbiter:readResourceHierarchyFile
#ResourceArbiter:releaseResourcesForCommand
#RoboSimResponseFactory:parseCommandReturn
#RoboSimResponseFactory:parseTelemetryReturn
#RoboSimSimulator
#Robot:moveRobot
#Robot:processCommand
#Robot:queryRobotState
#SampleAdapter
#SampleAdapter:getAt
#SampleAdapter:getColor
#SampleAdapter:getDefault
#SampleAdapter:getSize
#SampleAdapter:getSpeed
#SampleAdapter:getStateName
#SampleAdapter:propagateValueChange
#SimpleSaveManager
#SimpleSaveManager:lock
#Simulator:~Simulator
#Simulator:constructNextResponse
#Simulator:handleWakeUp
#Simulator:scheduleMessage
#Simulator:scheduleNextResponse
#Simulator:scheduleResponseForCommand
#Simulator:simulatorTopLevel
#Simulator:start
#Simulator:stop
#SimulatorScriptReader
#SimulatorScriptReader:ensureResponseMessageManager
#SimulatorScriptReader:parseCommandDeclaration
#SimulatorScriptReader:parseLookupDeclaration
#SimulatorScriptReader:readScript
#StateCacheEntry:registerLookup
#StateCacheEntry:unregisterLookup
#StateCacheEntry:update
#StateCacheEntry:updateThresholds
#StringAdapter
#Test:testOutput
#Test:verboseTestOutput
#ThreadSemaphore:~ThreadSemaphore
#ThreadSemaphore:ThreadSemaphore
#ThreadSemaphore:wait
#ThresholdCache:setThresholds
#ThresholdCache:toleranceChanged
#Time
#TimeAdapter:start
#TimeAdapter:stop
#TimeAdapter:timeout
#TimebaseFactory
#TimebaseFactory::makeTimebase
#TimebaseFactory:getBest
#TimeLookupHandler:lookupNow
#TimeLookupHandler:setThresholds
#TimingService:defaultInitializeSignalHandling
#TimingService:getTimer
#TimingService:initializeSignalHandling
#TimingService:restoreSignalHandling
#TimingService:setTimer
#TimingService:stopTimer
#TimingService:wait
#UdpAdapter
#UdpAdapter:abortCommand
#UdpAdapter:buildUdpBuffer
#UdpAdapter:executeDefaultCommand
#UdpAdapter:executeGetParameterCommand
#UdpAdapter:executeReceiveCommandCommand
#UdpAdapter:executeReceiveUdpCommand
#UdpAdapter:executeSendMessageCommand
#UdpAdapter:executeSendUdpMessageCommand
#UdpAdapter:formatMessageName
#UdpAdapter:handleUdpMessage
#UdpAdapter:initialize
#UdpAdapter:sendUdpMessage
#UdpAdapter:start()
#UdpAdapter:startUdpMessageReceiver
#UdpAdapter:stop
#UdpEventLoop:addListener
#UdpEventLoop:closeListener
#UdpEventLoop:eventLoop
#UdpEventLoop:handleFDReady
#UdpEventLoop:openAndBindUdpSocket
#UdpEventLoop:openListener
#UdpEventLoop:removeListener
#UdpEventLoop:start
#UdpEventLoop:stop
#UnitTest:actionExecutingTransition
#UnitTest:bindingExecutingTransition
#UnitTest:finishedTransition
#UnitTest:inactiveDestTest
#UnitTest:inactiveTransTest
#UnitTest:iterationEndedTransition
#UnitTest:listExecutingTransition
#UnitTest:listFailingTrans
#UnitTest:listFinishingDest
#UnitTest:listFinishingTrans
#UnitTest:waitingDestTest
#UnitTest:waitingTransition
#UniversalExec
#Update:fixValues
#UpdateNode:~UpdateNode
#UpdateNode:cleanUpNodeBody
