# Debug configuration file

:Node:transition
:Node:outcome

:InterfaceManager:registerChangeLookup
:InterfaceManager:unregisterChangeLookup
:StateCache:registerChangeLookup
:StateCache:unregisterChangeLookup

:MyAdapter

