<Interfaces>
 <Adapter AdapterType="Utility"/>
 <Adapter AdapterType="OSNativeTime">
  <LookupNames>time</LookupNames>
 </Adapter>
 <Adapter AdapterType="IpcAdapter" Server="localhost" AllowDuplicateMessages="true">
  <DefaultCommandAdapter/>
  <LookupNames>x</LookupNames>
 </Adapter>
</Interfaces>
