# CMake artifacts
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
# GNU autotools artifacts
.deps
.dirstamp
.libs
lib*.la
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
configure.env
depcomp
install-sh
libtool
ltmain.sh
m4
missing
plexil-config.h
plexil-config.h.in
stamp-h1
*.lo
# General build artifacts
*.dylib
*.o
