# This is an example of a Debug Configuration File, or "debug file".
# It contains a few of the more useful flags, commented out.

# See plexil/doc/AllDebugFlags.cfg for a full listing of debug flags.
# Further documentation is found in the following section of the
# PLEXIL User Guide:
#
# https://plexil-group.github.io/plexil_docs/PLEXILExecution/PLEXILExecutive.html

#PlanDebug:outcome
#PlanDebug:transition
#PlanDebug:macroStep

#Node:outcome
#Node:transition
